body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menubar {
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    list-style-type: none;
    padding: 0;
    margin-right: 20px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap; 
}

.h1 {
    font-size: 60px;
}

.name {
    color: aqua;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background-color: darkblue;
}
.ftr {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.ftr a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftr img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.ftr img:hover {
    transform: scale(1.1);
}

.copyright {
    padding: 10px;
    text-align: center;
    background-color: #001f5f;
    color: white;
    margin: 0;
}
