.menubar{
    display: flex;
    justify-content: space-evenly;
    column-gap: 30px;
    list-style-type: none;
    
}
body{
    margin-left: 10%;
    margin-right: 10%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    box-shadow: 100px;
} 

.name{
    color:aqua
}
.container{
    display: flex;
    justify-content: space-between;
}
.h1{
    /* align-content: center; */
    font-size: 60px;
    /* padding-left: 10%; */
}
.btn{
  padding:10px 30px 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color:white;
  
}
.ftr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    padding: 20px; 
    background: blue; 

.ftr a {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.ftr img {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.ftr img:hover {
    transform: scale(1.1);
}
.copyright{
    
    padding: 10px;
    text-align: center;
    background-color: blue;
    color: white;
}
